[submodule "objectstorage"]
	path = objectstorage
	url = https://github.com/ice48623/objectstorage.git
[submodule "video-thumbnailer"]
	path = video-thumbnailer
	url = https://github.com/ice48623/video-thumbnailer.git
[submodule "thumbnail_rabbitMQ"]
	path = thumbnail_rabbitMQ
	url = https://github.com/ice48623/thumbnail_rabbitMQ.git
[submodule "thumbnail_web_controller"]
	path = thumbnail_web_controller
	url = https://github.com/ice48623/thumbnail_web_controller.git
[submodule "thumbnail_frontend"]
	path = thumbnail_frontend
	url = https://github.com/ice48623/thumbnail_frontend.git
